@model Ravency.Web.Areas.Configuration.Languages.Index.Result

<section class="content">
    <div class="container-fluid">
        <a asp-action="Add" class="btn btn-primary" style="margin-top: 15px">Add</a>

        <div class="row" style="margin-top: 10px">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Product categories</h3>

                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Language Name</th>
                                    <th>Code</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var language in Model.Languages)
                                {
                                        <tr>
                                            @if (language.IsDefault)
                                            {
                                                <td>@language.Name <b>(Default)</b></td>
                                            }
                                            else
                                            {
                                                <td>@language.Name</td>
                                            }

                                            <td>@language.Code</td>

                                            @if (language.IsActive)
                                            {
                                                <td>Enabled</td>
                                            }
                                            else
                                            {
                                                <td>Disabled</td>
                                            }

                                            @if (language.IsDefault)
                                            {
                                                <td class="project-actions text-right"></td>
                                            }
                                            else
                                            {
                                                <td class="project-actions text-right">
                                                    <a asp-action="Edit" asp-route-id="@language.Id" class="btn btn-info btn-sm">
                                                        <i class="fas fa-pencil-alt">
                                                        </i>
                                                        Edit
                                                    </a>
                                                    <a class="btn btn-danger btn-sm btn-delete" href="#" data-id="@language.Id" data-delete-button data-toggle="modal" data-target="#modal-confirm-delete">
                                                        <i class="fas fa-trash">
                                                        </i>
                                                        Delete
                                                    </a>
                                                </td>
                                            }
                                        </tr>
                                    }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="modal-confirm-delete">
    <div class="modal-dialog">
        <div class="modal-content active">
            <div class="modal-header">
                <h4 class="modal-title">Confirm</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <form asp-action="Delete" asp-antiforgery="true">
                    <input id="selected-categoryId-confirm" data-selected-categoryId type="hidden" asp-for="Id" />
                    <button type="submit" class="btn btn-primary">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $('.btn-delete').click(function (e) {
            $('[data-selected-categoryId]').val($(this).data('id'));
        });
    </script>
}