@using static Ravency.Web.Helpers.NavigationIndicatorHelper;

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a class="brand-link">
        <span class="brand-text font-weight-light">Ravency</span>
    </a>
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="info">
                <a href="#" class="d-block">Hi, Visitor</a>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
                <li class="nav-item">
                    <a asp-area="" asp-action="Index" asp-controller="Dashboard" class="nav-link @Url.MakeClassActive("Dashboard", "Index")">
                        <i class="nav-icon fas fa-home"></i>
                        <p>
                            Dashboard
                        </p>
                    </a>
                </li>
                <li class="nav-item @Url.MakeTreeViewMenuOpen("catalog")">
                    <a href="#" class="nav-link @Url.MakeClassActive("catalog")">
                        <i class="nav-icon far fa-envelope"></i>
                        <p>
                            Catalog
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-area="Catalog" asp-controller="ProductCategories" asp-action="Index" class="nav-link @Url.MakeClassActive("ProductCategories", "Index", "Add", "Edit")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Product Categories</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item @Url.MakeTreeViewMenuOpen("configuration")">
                    <a href="" class="nav-link @Url.MakeClassActive("configuration")">
                        <i class="nav-icon fa fa-cog"></i>
                        <p>
                            Configuration
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item @Url.MakeTreeViewMenuOpen("localisation")">
                            <a href="#" class="nav-link">
                                <i class="fa fa-angle-double-right nav-icon"></i>
                                <p>
                                    Localisation
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-area="Configuration" asp-controller="Languages" asp-action="Index" class="nav-link @Url.MakeClassActive("Languages", "Index")">
                                        <i class="fa fa-angle-double-right nav-icon"></i>
                                        <p>Languages</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>